<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Customer</key>
	<array>
		<dict>
			<key>Customer ID</key>
			<string>01</string>
			<key>First Name</key>
			<string>Simranjit </string>
			<key>Last Name</key>
			<string>Singh</string>
			<key>Email</key>
			<string>Simranjitsingh1998@gmail.com</string>
			<key>Password</key>
			<string>simran123</string>
		</dict>
		<dict>
			<key>Customer ID</key>
			<string>02</string>
			<key>First Name</key>
			<string>Varinder</string>
			<key>Last Name</key>
			<string>Dhillon</string>
			<key>Email</key>
			<string>varinder701dhillon@gmail.com</string>
			<key>Password</key>
			<string>dhillon123</string>
		</dict>
		<dict>
			<key>Customer ID</key>
			<string>03</string>
			<key>First Name</key>
			<string>Sachin</string>
			<key>Last Name</key>
			<string>Kumar</string>
			<key>Email</key>
			<string>sachinmahi123@gmail.com</string>
			<key>Password</key>
			<string>mahi123</string>
		</dict>
		<dict>
			<key>Customer ID</key>
			<string>04</string>
			<key>First Name</key>
			<string>Harmanpreet</string>
			<key>Last Name</key>
			<string>Singh</string>
			<key>Email</key>
			<string>harmanpreetsingh123@gmail.com</string>
			<key>Password</key>
			<string>singh123</string>
		</dict>
		<dict>
			<key>Customer ID</key>
			<string>05</string>
			<key>First Name</key>
			<string>Charanpreet</string>
			<key>Last Name</key>
			<string>Kaur</string>
			<key>Email</key>
			<string>charanpreetkaur026@gmail.com</string>
			<key>Password</key>
			<string>charan123</string>
		</dict>
	</array>
</dict>
</plist>
